body {
  background-color: #53a8b6;
   font-family: "Playwrite DE Grund", cursive;
  font-weight: 100;
  font-style: normal;
}
main {
  background-color: #bbe4e9;
  max-width: 600px;
  margin: 45px auto;
  padding: 15px;
  box-shadow: 0 30px 50px rgba(85, 133, 181, 0.70);
  border-radius: 30px;
}
h1{
  text-align: center;
}
.search {
  margin: 0 auto;
  display: block;
  text-align: center;
}